# https://github.com/majarspeed/Profiles-Gcode-Macros/blob/main/Beeper%20tunes/tones.cfg

[gcode_macro SONG_SINGLE_BEEP]
gcode:
	M300 S830.61 P137

[pwm_cycle_time beeper]
pin: rpi:gpio9
value: 0
shutdown_value: 0
cycle_time: 0.001

[gcode_macro M300]
description: Makes buzzer sounds
gcode:
  {% set i = params.I|default(1)|int %}
  {% set dur = params.P|default(100)|int %}
  {% set freq = params.S|default(2000)|int %}
  {% set cycle_time = 1.0 / freq if freq > 0 else 0.001 %}
  {% for _ in range(i) %}
    SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={cycle_time}
    G4 P{dur}
    SET_PIN PIN=beeper VALUE=0
    G4 P{dur}
  {% endfor %}

[gcode_macro TEST_BUZZ]
gcode:
  M300 S1000 P200
  M300 S1500 P200
  M300 S2000 P200

[gcode_macro _BUZZ_DOOP]
gcode:
  M300 S500 P100
  M300 S3500 P150

[gcode_macro _BUZZ_DROP]
gcode:
  M300 S4700 P150
  M300 S500 P100

[gcode_macro _BUZZ_ERR]
gcode:
  M300 S100 P130

[gcode_macro _BUZZ_TOUCH]
gcode:
  M300 S1350 P90

[gcode_macro _BUZZ_RFID_OK]
gcode:
  M300 S7250 P200

[gcode_macro _BUZZ_RFID_ERR]
gcode:
  M300 S250 P200
  M300 S250 P200

[gcode_macro _BUZZ_K_LOCK]
gcode:
  M300 S5100 P100

[gcode_macro _BUZZ_K_UNLOCK]
gcode:
  M300 S5100 P100
  M300 S5100 P100

[gcode_macro _BUZZ_K_SKIPUNLOCK]
gcode:
  M300 S5100 P250