
[neopixel indockator]
pin: rpi:gpio17
chain_count: 30
color_order: GRB

[neopixel lamp]
pin: rpi:gpio16
chain_count: 30
color_order: GRBW

[led_effect rainbow]
leds:
    neopixel:indockator  (26-30)
    neopixel:indockator  (20-23)
    neopixel:indockator  (13-17)
    neopixel:indockator  (6-10)
    neopixel:indockator  (1-4)
autostart:                          true
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)
    # gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect all_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:lamp
layers:
    static     1 0 top (0,0,0,.2)

[led_effect docking_45]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (26-30)
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect docking_44]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (20-23)
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect docking_43]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (13-17)
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect docking_42]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (6-10)
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect docking_41]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (1-4)
layers:
    breathing  10 1 top (.5,.5,1)


[led_effect critical_error]
leds:
    neopixel:indockator
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true


[gcode_macro LIGHTS_ON]
gcode:
  {% set iled = 0.2 %}
  {% set wled = 0.7 %}
  SET_LED LED=lamp RED={iled} GREEN={iled} BLUE={iled} WHITE={wled}

[gcode_macro LIGHTS_OFF]
gcode:
  SET_LED LED=lamp RED=0 GREEN=0 BLUE=0 WHITE=0

# Support Toolchange commands
[gcode_macro T0]
gcode:
  DOCK T=41
[gcode_macro T1]
gcode:
  DOCK T=42
[gcode_macro T2]
gcode:
  DOCK T=43
[gcode_macro T3]
gcode:
  DOCK T=44
[gcode_macro T4]
gcode:
  DOCK T=45