
[neopixel indockator]
pin: rpi:gpio17
chain_count: 30
color_order: GRB

[neopixel lamp]
pin: rpi:gpio16
chain_count: 30
color_order: GRBW

[neopixel picam]
pin: rpi:gpio15
chain_count: 30
color_order: GRB

[led_effect rainbow]
leds:
    neopixel:indockator  (26-30)
    neopixel:indockator  (20-23)
    neopixel:indockator  (13-17)
    neopixel:indockator  (6-10)
    neopixel:indockator  (1-4)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (1, 0.18, 0)
    # gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect lamp_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:lamp
layers:
    static     1 0 lighten (0,0,0,.2)

[led_effect stepper_trigger]
leds:
    neopixel:indockator  (25-27)
autostart: true
endstops: stepper_z
layers:
    homing     1 0 add (0.5,0,0.9)

[led_effect probe_trigger]
leds:
    neopixel:indockator
autostart: true
endstops: probe
layers:
    homing     1 0 add (0.5,0,0.9)

[led_effect xystepper_trigger]
leds:
    neopixel:indockator (13-17)
autostart: true
endstops: stepper_x,stepper_y
layers:
    homing     1 0 add (0.5,0,0.9)

[led_effect cam_idle]
autostart:              true
frame_rate:             16
leds:
    neopixel:picam   (0-5)
    neopixel:picam   (16-25)
layers:
    static 1 0 top (0.2,0.2,0.17)

[led_effect locking_key]
autostart:              false
leds:
    neopixel:lamp
layers:
    comet  0.5 5 screen (0.5, 0.4, 0.1)

[led_effect unlocking_key]
autostart:              false
leds:
    neopixel:lamp
layers:
    comet  -0.5 5 screen (0.1, 0.3, 0.5)

[led_effect rfid_read_begin]
autostart:              false
leds:
    neopixel:lamp  (10-12)
layers:
    blink  0.8 0.3 screen (0.3, 0.4, 0.5)

[led_effect rfid_read_tag_applied]
autostart:              false
leds:
    neopixel:lamp  (10-12)
layers:
    static  0.5 0 screen (0.2, 0.6, 0.3)

[led_effect rfid_read_error]
autostart:              false
leds:
    neopixel:lamp  (10-12)
layers:
    blink  0.5 0.6 screen (0.7, 0.1, 0.2)


[led_effect docking_45]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (26-30)
    neopixel:lamp  (1-6)
layers:
    breathing  10 1 add (.5,.5,1)

[led_effect docking_44]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (20-23)
    neopixel:lamp  (7-12)
layers:
    breathing  10 1 add (.5,.5,1)

[led_effect docking_43]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (13-17)
    neopixel:lamp  (13-18)
layers:
    breathing  10 1 add (.5,.5,1)

[led_effect docking_42]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (6-10)
    neopixel:lamp  (19-24)
layers:
    breathing  10 1 add (.5,.5,1)

[led_effect docking_41]
autostart:              false
frame_rate:             24
leds:
    neopixel:indockator  (1-4)
    neopixel:lamp  (25-30)
layers:
    breathing  10 1 add (.5,.5,1)


[led_effect critical_error]
leds:
    neopixel:indockator
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true


[gcode_macro LIGHTS_ON]
gcode:
  {% set iled = 0.2 %}
  {% set wled = 0.7 %}
  #   SET_LED LED=picam RED={iled} GREEN={iled} BLUE={iled}
  SET_LED_EFFECT EFFECT=cam_idle REPLACE=1

[gcode_macro LIGHTS_OFF]
gcode:
  #   SET_LED LED=picam RED=0 GREEN=0 BLUE=0
  STOP_LED_EFFECTS LEDS="neopixel:picam"

# Support Toolchange commands
[gcode_macro T0]
gcode:
  DOCK T=41
[gcode_macro T1]
gcode:
  DOCK T=42
[gcode_macro T2]
gcode:
  DOCK T=43
[gcode_macro T3]
gcode:
  DOCK T=44
[gcode_macro T4]
gcode:
  DOCK T=45