
[gcode_macro K_LOCK]
gcode:
  MANUAL_STEPPER STEPPER=axis_k ENABLE=1 SET_POSITION=0 MOVE=16
  MANUAL_STEPPER STEPPER=axis_k ENABLE=0
  _BUZZ_K_LOCK
  SET_LED_EFFECT EFFECT=ui_key_locked REPLACE=1

[gcode_macro K_LOCK_UNLOCK_LOCK]
gcode:
  MANUAL_STEPPER STEPPER=axis_k ENABLE=1 SET_POSITION=0 MOVE=10
  MANUAL_STEPPER STEPPER=axis_k ENABLE=1 SET_POSITION=16 MOVE=8
  MANUAL_STEPPER STEPPER=axis_k ENABLE=1 SET_POSITION=0 MOVE=16
  MANUAL_STEPPER STEPPER=axis_k ENABLE=0
  _BUZZ_K_LOCK
  SET_LED_EFFECT EFFECT=ui_key_locked REPLACE=1

[gcode_macro K_UNLOCK]
gcode:
  {% set lock_status = printer.query_endstops.last_query['manual_stepper axis_k'] %}
  # {% if not lock_status %}
  {% if True %}
    MANUAL_STEPPER STEPPER=axis_k ENABLE=1 SET_POSITION=16 MOVE=0
    MANUAL_STEPPER STEPPER=axis_k ENABLE=0
    _BUZZ_K_UNLOCK
  {% else %}
    _BUZZ_K_SKIPUNLOCK
  {% endif %}
  SET_LED_EFFECT EFFECT=ui_key_unlocked REPLACE=1


[gcode_macro LAZY_HOME]
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_0
gcode:
  SET_LED_EFFECT EFFECT=ui_info_processing REPLACE=1
  G28 Z
  UNDOCK
  G1 X65 Y45
  BED_MESH_CALIBRATE_0 {rawparams}
  SET_LED_EFFECT EFFECT=ui_info_processing STOP=1
  

[gcode_macro PROBE_ACCURACY]
rename_existing: PROBE_ACCURACY_0
gcode:
  SET_LED_EFFECT EFFECT=ui_info_processing REPLACE=1
  G28 Z
  LAZY_HOME
  G1 F5000
  G1 X80 Y70
  PROBE_COORDS
  PROBE_ACCURACY_0 {raw_params}
  PROBE_COORDS
  SET_LED_EFFECT EFFECT=ui_info_processing STOP=1

[gcode_macro _APPLY_OFFSETS]
gcode:
  {% set mesh_profile = printer.bed_mesh.profile_name %}
  {% set svv = printer.save_variables.variables %}
  {% set offset_x = svv.tool_offset_x|default(0)|float %}
  {% set offset_y = svv.tool_offset_y|default(0)|float %}
  {% set offset_z = svv.tool_offset_z|default(0)|float %}
  {% set last_mesh_profile = svv.last_mesh_profile %}
  G1 Z8.2
  G1 X5 Y5

  SET_GCODE_OFFSET X={offset_x} Y={offset_y} Z={offset_z} MOVE=1

  M118 Offset applied: X={offset_x} Y={offset_y} Z={offset_z}
  M118 old mesh: {last_mesh_profile}

  {% if last_mesh_profile %}
    BED_MESH_PROFILE LOAD={last_mesh_profile}
    M118 Loaded mesh: {last_mesh_profile}
    SAVE_VARIABLE VARIABLE=last_mesh_profile VALUE='""'
  {% endif %}

[gcode_macro _CLEAR_OFFSETS]
gcode:
  {% set mesh_profile = printer.bed_mesh.profile_name %}
  {% if mesh_profile %}
    SAVE_VARIABLE VARIABLE=last_mesh_profile VALUE='"{mesh_profile}"'
    BED_MESH_CLEAR
    M118 Cleared mesh
  {% endif %}
  SET_GCODE_OFFSET X=0 Y=0 Z=0 MOVE=1


[gcode_macro G1]
rename_existing: G1.1 # Rename the existing G1 command to G1.1
gcode:
  {% set p_x = ' X' ~ params.X if 'X' in params else '' %}
  {% set p_y = ' Y' ~ params.Y if 'Y' in params else '' %}
  {% set p_z = ' Z' ~ params.Z if 'Z' in params else '' %}
  {% set p_f = ' F' ~ params.F if 'F' in params else '' %}
  {% set act = params.ACT|int if 'ACT' in params else 0 %}
  {% set align = params.ALIGN if 'ALIGN' in params else 0 %}

  # _APPLY_OFFSETS ALIGN={align}

  {% if act == 1 %}
    # PEN DOWN
    {% set p_z = " Z0.8" %}
  {% elif act == 2 %}
    # PEN UP
    {% set p_z = " Z5" %}
  {% elif act == 3 %}
    # TRAVEL
    {% set p_z = " Z7" %}
  {% endif %}
  {% set ps = p_x + p_y + p_z + p_f %}
  G1.1 {ps}
variable_last_dir: 1

[gcode_macro G2]
rename_existing: G2.1
gcode:
  {% set p_x = ' X' ~ params.X if 'X' in params else '' %}
  {% set p_y = ' Y' ~ params.Y if 'Y' in params else '' %}
  {% set p_z = ' Z' ~ params.Z if 'Z' in params else '' %}
  {% set p_f = ' F' ~ params.F if 'F' in params else '' %}
  {% set p_j = ' J' ~ params.J if 'J' in params else '' %}
  {% set p_i = ' I' ~ params.I if 'I' in params else '' %}
  {% set align = params.ALIGN if 'ALIGN' in params else 0 %}
  # _APPLY_OFFSETS ALIGN={align}
  {% set ps = p_x + p_y + p_z + p_i + p_j + p_f %}
  G2.1 {ps}

[gcode_macro G3]
rename_existing: G3.1
gcode:
  {% set p_x = ' X' ~ params.X if 'X' in params else '' %}
  {% set p_y = ' Y' ~ params.Y if 'Y' in params else '' %}
  {% set p_z = ' Z' ~ params.Z if 'Z' in params else '' %}
  {% set p_f = ' F' ~ params.F if 'F' in params else '' %}
  {% set p_j = ' J' ~ params.J if 'J' in params else '' %}
  {% set p_i = ' I' ~ params.I if 'I' in params else '' %}
  {% set align = params.ALIGN if 'ALIGN' in params else 0 %}
  # _APPLY_OFFSETS ALIGN={align}
  {% set ps = p_x + p_y + p_z + p_i + p_j + p_f %}
  G3.1 {ps}

[gcode_macro G28]
rename_existing: G28.1
gcode:
  {% set has_axes = 'X' in params or 'Y' in params or 'Z' in params %}

  {% if has_axes %}
    G28.1 {rawparams}
  {% else %}
    G28.1 Z
    G28.1 X
    G28.1 Y
  {% endif %}


[gcode_macro _DOCK_HOME]
description: "Home to Tools"
gcode:
  G1 X{dock_x}
  G1 Z{dock_z}
  G1 Y{dock_x}
variable_dock_z: 7.9
variable_dock_x: 114
variable_dock_y: 13

variable_tool_41_x: 125
variable_tool_41_y: 16
variable_tool_41_z: 8
variable_tool_41_dx: 53
variable_tool_41_dy: 0
variable_tool_41_dz: 0

variable_tool_42_x: 125
variable_tool_42_y: 56
variable_tool_42_z: 8.2
variable_tool_42_dx: 53
variable_tool_42_dy: 0
variable_tool_42_dz: 0

variable_tool_43_x: 125
variable_tool_43_y: 96
variable_tool_43_z: 8.8
variable_tool_43_dx: 53.5
variable_tool_43_dy: 0
variable_tool_43_dz: 0

variable_tool_44_x: 125
variable_tool_44_y: 135
variable_tool_44_z: 9
variable_tool_44_dx: 53.5
variable_tool_44_dy: 0
variable_tool_44_dz: 0

variable_tool_45_x: 125
variable_tool_45_y: 175
variable_tool_45_z: 9
variable_tool_45_dx: 53.5
variable_tool_45_dy: 0
variable_tool_45_dz: 0


[gcode_macro _DOCK_TOOL]
description: Dock/undock given tool. eg. _DOCK_TOOL T=42 ACT=dock|undock|calibrate
gcode:
  {% set tool_id = params['T']|default(42)|int %}
  {% set prefix = "tool_" ~ tool_id ~ "_" %}
  {% set docking = params['ACT'] == 'dock' %}
  {% set calibrate = 15 if params['ACT'] == 'calibrate' else 0 %}
  {% set dh = printer["gcode_macro _DOCK_HOME"] %}
  {% set effect_name = "docking_" ~ tool_id %}
  {% set effect_2_name = "ui_docked_tool_" ~ tool_id %}
  {% set mesh_profile = printer.bed_mesh.profile_name %}

  SAVE_GCODE_STATE NAME=DOCK_TOOL_state

  SET_LED_EFFECT EFFECT=ui_tool_sweep STOP=1
  SET_LED_EFFECT EFFECT=ui_alert_blink
  SET_LED_EFFECT EFFECT=ui_traffic_red
  SET_LED_EFFECT EFFECT=ui_rfid_read_begin REPLACE=1
  SET_LED_EFFECT EFFECT=ui_rfid_read_begin STOP=1

  SET_LED_EFFECT EFFECT={effect_2_name} REPLACE=1 COL=yellow

  G90
  G1 F6000
  M118 {params['ACT']}ing {tool_id}

  # Disable bed mesh as we have a fixed toolhead
  _CLEAR_OFFSETS

  SET_LED_EFFECT EFFECT={effect_name} REPLACE=1

  # Home to tool
  {% if docking %}
    G28
  {% else %}
    G28 Z
    LAZY_HOME
  {% endif %}
  G1 F5500
  
  G1 X{dh[prefix + "x"]} Y{dh[prefix + "y"]}
  G1 Z{dh[prefix + "z"]}

  SET_LED_EFFECT EFFECT=ui_traffic_yellow
  QUERY_ENDSTOPS
  M400
  K_UNLOCK

  # Switch to relative coords
  G91

  # Move towards threshold
  G1 Z{dh[prefix + "dz"]}
  G1 Y{dh[prefix + "dy"]}
  G1 X{dh[prefix + "dx"] / 2}

  # Slow down
  G1 F2500
  SET_LED_EFFECT EFFECT=ui_traffic_red STOP=1
  SET_LED_EFFECT EFFECT=ui_traffic_green
  G1 X{dh[prefix + "dx"] / 2}

  # Dock/undock the tool
  {% if docking %}
    G1 F1500
    # Nudge
    G1 Z0.5 Y-0.5 X-0.5
    G1 X0.5 Y0.5
    G1 Z-0.5
    K_LOCK_UNLOCK_LOCK
    SAVE_VARIABLE VARIABLE=currently_docked_tool VALUE={params['T']}
    SET_LED_EFFECT EFFECT={effect_2_name} REPLACE=1 COL=white
  {% elif params['ACT'] == 'undock' %}
    SAVE_VARIABLE VARIABLE=currently_docked_tool VALUE=0
    SAVE_VARIABLE VARIABLE=tool_offset_x VALUE=0
    SAVE_VARIABLE VARIABLE=tool_offset_y VALUE=0
    SAVE_VARIABLE VARIABLE=tool_offset_z VALUE=0
    SAVE_VARIABLE VARIABLE=tool_name VALUE='""'
    SET_LED_EFFECT EFFECT={effect_2_name} REPLACE=1 COL=red
    SET_LED_EFFECT EFFECT={effect_2_name} STOP=1
  {% endif %}

  SET_LED_EFFECT EFFECT=ui_traffic_yellow STOP=1
  SET_LED_EFFECT EFFECT=ui_traffic_green

  # Move away from threshold
  G1 F2000

  G1 X-{dh[prefix + "dx"]}
  G1 Y-{dh[prefix + "dy"]}

  # Speed up
  G1 F4500
  # G1 F2500
  # End relative motion
  G90

  {% if docking %}
    # After picking up the tool
    K_LOCK_UNLOCK_LOCK
    SET_LED_EFFECT EFFECT=ui_alert_blink STOP=1
    RFID_READ
    G28
  {% endif %}
  _APPLY_OFFSETS

  M118 {params['ACT']}ed {tool_id}.

  SET_LED_EFFECT EFFECT={effect_name} STOP=1
  SET_LED_EFFECT EFFECT=ui_traffic_green STOP=1
  SET_LED_EFFECT EFFECT=ui_rfid_read_tag_applied STOP=1
  RESTORE_GCODE_STATE NAME=DOCK_TOOL_state

[gcode_macro DOCK]
description: Dock given tool. eg. DOCK T=42 [K=70..74]
gcode:
  {% set tool_id = (params.K|int + 1 - 30) if 'T' not in params else params.T|int %}
  {% set svv = printer.save_variables.variables %}
  {% set existing_tool = svv.currently_docked_tool|default(0)|int %}
  {% set effect_2_name = "ui_docked_tool_" ~ tool_id %}
  {% set existing = "ui_docked_tool_" ~ existing_tool %}

  {% if existing_tool == tool_id %}
    _BUZZ_DOOP
    M118 Currently Docked: {tool_id}, reading tag...
    LAZY_HOME
    RFID_READ
    _APPLY_OFFSETS
  {% else %}
    {% if existing_tool > 0 %}
      # Undock if holding a tool
      SET_LED_EFFECT EFFECT={existing} REPLACE=1
      M118 Undocking EXT:{existing_tool} before docking NEW:{tool_id}.
      _DOCK_TOOL T={existing_tool} ACT=undock
      SET_LED_EFFECT EFFECT={existing} STOP=1
    {% endif %}

    _DOCK_TOOL T={tool_id} ACT=dock
    _BUZZ_DOOP
  {% endif %}

[gcode_macro DOCK_RESET]
description: Reset Docking
gcode:
  {% set svv = printer.save_variables.variables %}
  {% set existing_tool = svv.currently_docked_tool|default(0)|int %}
  M118 [Dock][reset] Existing Tool:{existing_tool} cleared.
  SAVE_VARIABLE VARIABLE=currently_docked_tool VALUE=0
  SAVE_VARIABLE VARIABLE=tool_offset_x VALUE=0
  SAVE_VARIABLE VARIABLE=tool_offset_y VALUE=0
  SAVE_VARIABLE VARIABLE=tool_offset_z VALUE=0
  SAVE_VARIABLE VARIABLE=tool_name VALUE='""'
  _BUZZ_DOOP

[gcode_macro DOCK_RECALL]
gcode:
  {% set svv = printer.save_variables.variables %}
  {% set existing_tool = svv.currently_docked_tool|default(0)|int %}
  M118 [Dock][recall] Existing Tool:{existing_tool}.
  _BUZZ_DOOP

[gcode_macro UNDOCK]
description: Dock current tool back to its original position. eg. UNDOCK
gcode:
  {% set svv = printer.save_variables.variables %}
  {% set existing_tool = svv.currently_docked_tool|default(0)|int %}

  LAZY_HOME

  {% if existing_tool == 0 %}
    # Undock if holding a tool
    M118 Nothing to undock.
  {% else %}
    _DOCK_TOOL T={existing_tool} ACT=undock
  {% endif %}

[shell_output sh_output_buffer]

[limn]
serial: /dev/serial/by-id/usb-MicroPython_Board_in_FS_mode_e6625887d3390f34-if00
baud: 115200

[gcode_macro LRT_READ_SAMPLES]
gcode:
  {% set output_buff = printer["limn"].samples %}
  M118 {output_buff}


[gcode_macro APPLY_RFID_DATA]
gcode:
  {% set output_buff = printer["shell_output sh_output_buffer"].TAG %}
  {% if "||" not in output_buff %}
    # Do nothing
    SET_LED_EFFECT EFFECT=ui_rfid_read_error REPLACE=1
    SET_LED_EFFECT EFFECT=ui_alert_blink REPLACE=1
    _BUZZ_RFID_ERR
    M118 No tag found.
  {% else %}
    {% set comps = output_buff.split('||') %}
    {% set name = comps[3] if comps|length > 2 else "unknown" %}
    SAVE_VARIABLE VARIABLE=tool_offset_x VALUE={comps[0]}
    SAVE_VARIABLE VARIABLE=tool_offset_y VALUE={comps[1]}
    SAVE_VARIABLE VARIABLE=tool_offset_z VALUE={comps[2]}
    SAVE_VARIABLE VARIABLE=tool_name VALUE='"{name}"'
    SET_LED_EFFECT EFFECT=ui_rfid_read_tag_applied REPLACE=1
    _BUZZ_RFID_OK
  {% endif %}


[gcode_macro WRITE_TOOL_TAG]
gcode:
    {% set dx = ' --x ' ~ params.DX if 'DX' in params else '' %}
    {% set dy = ' --y ' ~ params.DY if 'DY' in params else '' %}
    {% set dz = ' --z ' ~ params.DZ if 'DZ' in params else '' %}
    {% set name = ' --name "' ~ params.NAME ~ '"' if 'NAME' in params else '' %}
    _RFID_HOME
    EXECUTE_AND_STORE COMMAND="/home/pi/.local/bin/uv run --directory /home/pi/limn rfid.py write-tag {dx} {dy} {dz} {name}"
    _BUZZ_RFID_OK
    M400
    G1 Z8
    RFID_READ

[gcode_macro _RFID_HOME]
gcode:
  {% set mesh_profile = printer.bed_mesh.profile_name %}
  {% set svv = printer.save_variables.variables %}
  {% set existing_tool = svv.currently_docked_tool|default(0)|int %}
  {% set effect_2_name = "ui_docked_tool_" ~ existing_tool %}
  SET_LED_EFFECT EFFECT={effect_2_name}
  _CLEAR_OFFSETS
  LAZY_HOME
  G1 F5000
  G1 X100
  G1 Y3
  G1 X135
  G1 Z7
  M400

[gcode_macro RFID_READ]
gcode:
  # Home to Reading Position
  SET_LED_EFFECT EFFECT=ui_rfid_read_begin
  _RFID_HOME
  EXECUTE_AND_STORE COMMAND="/home/pi/.local/bin/uv run --directory /home/pi/limn rfid.py read-tag"
  M400
  SET_LED_EFFECT EFFECT=ui_rfid_read_begin STOP=1
  G1 Z8
  APPLY_RFID_DATA
  _APPLY_OFFSETS

[gcode_macro DOCK_SCAN]
gcode:
  SET_LED_EFFECT EFFECT=ui_info_processing REPLACE=1
  G28
  T0
  T1
  T2
  T3
  T4
  UNDOCK
  SET_LED_EFFECT EFFECT=ui_info_processing STOP=1

[gcode_macro PLOT_START]
gcode:
  {% set tool = params.EXT|default(0)|int %}
  {% set mesh_profile = printer.bed_mesh.profile_name %}
  {% if not mesh_profile %}
    BED_MESH_CALIBRATE
  {% endif %}
  T{tool}

[gcode_macro PLOT_END]
gcode:
  UNDOCK

[gcode_macro PEN_UP]
gcode:
  G91
  G1 Z3
  G90

[gcode_macro PEN_DOWN]
gcode:
  G91
  G1 Z-3
  G90

[gcode_macro DEMO_01]
gcode:
  G28
  K_UNLOCK
  K_LOCK

[duplicate_pin_override]
pins: rpi:gpio14

[gcode_button probe_touch]
pin: rpi:gpio14
press_gcode:
  # SET_LED_EFFECT EFFECT=ui_arrow_down_btn
release_gcode:
  # SET_LED_EFFECT EFFECT=ui_arrow_down_btn STOP=1



# [gcode_button tool_1w]
# pin: ^rpi:gpio7
# press_gcode:
#   M118 Tool Detected
# release_gcode:
#   M118 Tool Gone
# debounce_delay: 0.5

[include limn-tools.cfg]