[include fluidd.cfg]


# This file contains common pin mappings for Melzi v2.0 boards. To use
# this config, the firmware should be compiled for the AVR
# atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
# (PCB: Extruder Stepper)
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PC2
position_endstop: 0
position_max: 180
homing_speed: 65


[stepper_y]
# (PCB: Y Stepper)
step_pin: PC6
dir_pin: PC7
enable_pin: !PD6
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PC3
position_endstop: 0
position_max: 177
homing_speed: 65


[stepper_z]
# (PCB: X Stepper)
step_pin: PD7
dir_pin: PC5
enable_pin: !PD6
microsteps: 1
rotation_distance: 0.03125
endstop_pin: ^!PC4
position_endstop: 8
position_max: 10
position_min: -2
homing_speed: 3
homing_retract_dist: 2

[bltouch]
sensor_pin: ^PA4
control_pin: PA3
x_offset: -34.34
y_offset: 25
z_offset: 0.8
samples: 1
samples_result: average
sample_retract_dist: 3
samples_tolerance: 1
pin_up_touch_mode_reports_triggered: true
samples_tolerance_retries: 3
# pin_up_touch_mode_reports_triggered: false
# pin_up_reports_not_triggered: true
# probe_with_touch_mode: false
stow_on_each_sample: true
speed: 2.5
lift_speed: 2.5

[bed_mesh]
speed: 120
horizontal_move_z: 4
# (xmin, ymin)+-----------+
#             |           | 
#             |           | 
#             +-----------+(xmax, ymax)
mesh_min: 0, 30
mesh_max: 110, 174
probe_count: 4,6
algorithm: bicubic

# zero_reference_position: 42,42

[manual_stepper axis_k]
# (PCB: Z Stepper) !note dual Z
step_pin: PB3
dir_pin: !PB2
enable_pin: !PA5
endstop_pin: ^PA2
microsteps: 16
rotation_distance: 40
gear_ratio: 18:1

position_endstop: 0
position_max: 20
position_min: 0
homing_speed: 10
velocity: 10


[include limn.cfg]
[include leds.cfg]
[include buzzer.cfg]
[include shell_command.cfg]


[save_variables]
filename: ~/limn_variables.cfg

[force_move]
enable_force_move: true

[gcode_arcs]
resolution: 0.2

[respond]

[pause_resume]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  BASE_CANCEL_PRINT

[mcu]
# serial: /dev/ttyUSB0
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A5010P8Z-if00-port0

[mcu host]
# Currently unused
serial: /tmp/klipper_host_mcu

[mcu rpi]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E661385283075A2C-if00

[mpu9250]
i2c_mcu: rpi
i2c_software_scl_pin: rpi:gpio4
i2c_software_sda_pin: rpi:gpio5
axes_map: -y, x, z


[resonance_tester]
accel_chip: mpu9250
probe_points:
    80, 80, 10

[input_shaper]
#shaper_freq_x: 49.8
#shaper_type_x: ei
#shaper_freq_y: 104.8
#shaper_type_y: 3hump_ei

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[gcode_macro _CLIENT_VARIABLE]
# For fluidd. Pause/Cancel
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 120   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 4.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-1.889687, -0.977187, -0.861563, -1.054063
#*# 	-1.948750, -1.301563, -1.148750, -1.188906
#*# 	-2.039219, -1.643594, -1.385625, -1.321406
#*# 	-2.091406, -2.102813, -1.998594, -1.734688
#*# 	-1.902500, -2.293594, -2.237031, -1.902344
#*# 	-1.631563, -1.946875, -1.965625, -1.802500
#*# x_count = 4
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 109.97999999999999
#*# min_y = 30.0
#*# max_y = 174.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 34.2
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 90.2
#*#
#*# [bed_mesh lrt_paper]
#*# version = 1
#*# points =
#*# 	  -1.430937, -0.596250, -0.612344, -1.253281
#*# 	  -1.561250, -0.969219, -1.059531, -1.597500
#*# 	  -1.715469, -1.365781, -1.443750, -1.781406
#*# 	  -1.773750, -1.725781, -1.750469, -1.849375
#*# 	  -1.768281, -1.849531, -1.873594, -1.855313
#*# 	  -1.700156, -1.895781, -1.894531, -1.801563
#*# x_count = 4
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 114.97999999999999
#*# min_y = 110.0
#*# max_y = 174.00000000000003
#*#
#*# [limn]
#*# version = v2.0
#*# touch_params = [0.001987748977131444, 2.5559921422506278e-05, -2.6941553761437342, -1.3013606077826619e-05, 0.0013571180907340002, 3.321430797672164]
#*# ref_samples = [[30.0, 42.0, 9, 29.6567481534125, 41.96829786811211, 5.096406249953919], [30.0, 53.5, 9, 29.780205809651115, 53.59034116755358, 5.035781249946771], [30.0, 65.0, 9, 29.645525408210638, 65.01685165002209, 4.953124999939487], [50.0, 42.0, 9, 49.83034769234291, 42.05516125524307, 5.180468749928904], [50.0, 53.5, 9, 49.82554145726679, 53.610913985935824, 5.133749999921936], [50.0, 65.0, 9, 49.72062024574661, 64.95036069290012, 5.089999999914868], [70.0, 42.0, 9, 69.96849410376961, 42.053824980082396, 5.298593749904622], [70.0, 53.5, 9, 69.80364555366607, 53.52438789454613, 5.257499999897847], [70.0, 65.0, 9, 69.954383087447, 64.90497198574421, 5.146562499890926], [90.0, 42.0, 9, 89.97875409780909, 41.879181011096186, 5.4239062498841655], [90.0, 53.5, 9, 89.97456130084711, 53.478569738389666, 5.33124999987754], [90.0, 65.0, 9, 89.9038978254176, 64.92616945721818, 5.237343749870754]]
#*# ref_z_panel = [[30.0, 42.0, 9, 64.34000000000214, 16.999999999996376, 4.359687499998363], [30.0, 53.5, 9, 64.33999999999395, 28.49999999999409, 4.275156249993415], [30.0, 65.0, 9, 64.33999999998849, 39.99999999998908, 4.19296874998839], [50.0, 42.0, 9, 84.33999999999574, 16.99999999998454, 4.41093749998329], [50.0, 53.5, 9, 84.33999999998993, 28.499999999979877, 4.313124999978389], [50.0, 65.0, 9, 84.33999999998174, 39.99999999997759, 4.251718749973399], [70.0, 42.0, 9, 104.33999999997751, 16.99999999998454, 4.496874999968353], [70.0, 53.5, 9, 104.3399999999775, 28.49999999997408, 4.45531249996353], [70.0, 65.0, 9, 104.33999999997746, 39.99999999996362, 4.33812499995867], [90.0, 42.0, 9, 124.33999999995928, 16.999999999984546, 4.658124999953704], [90.0, 53.5, 9, 124.33999999995926, 28.499999999974094, 4.5857812499490285], [90.0, 65.0, 9, 124.33999999995923, 39.999999999963634, 4.500624999944287]]
#*# ref_z_paper = [[30.0, 110.0, 6], [30.0, 126.67, 6], [30.0, 143.33, 6], [30.0, 160.0, 6], [50.0, 110.0, 6], [50.0, 126.67, 6], [50.0, 143.33, 6], [50.0, 160.0, 6], [70.0, 110.0, 6], [70.0, 126.67, 6], [70.0, 143.33, 6], [70.0, 160.0, 6], [90.0, 110.0, 6], [90.0, 126.67, 6], [90.0, 143.33, 6], [90.0, 160.0, 6]]
