[include fluidd.cfg]


# This file contains common pin mappings for Melzi v2.0 boards. To use
# this config, the firmware should be compiled for the AVR
# atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
# (PCB: Extruder Stepper)
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PC2
position_endstop: 0
position_max: 180
homing_speed: 65


[stepper_y]
# (PCB: Y Stepper)
step_pin: PC6
dir_pin: PC7
enable_pin: !PD6
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PC3
position_endstop: 0
position_max: 177
homing_speed: 65


[stepper_z]
# (PCB: X Stepper)
step_pin: PD7
dir_pin: PC5
enable_pin: !PD6
microsteps: 1
rotation_distance: 0.03125
endstop_pin: ^!PC4
position_endstop: 8
position_max: 10
position_min: -3
homing_speed: 3
homing_retract_dist: 2

[bltouch]
sensor_pin: ^PA4
control_pin: PA3
x_offset: -34.34
y_offset: 25
z_offset: 0.8
samples: 1
samples_result: average
sample_retract_dist: 3
samples_tolerance: 1
pin_up_touch_mode_reports_triggered: true
samples_tolerance_retries: 3
# pin_up_touch_mode_reports_triggered: false
# pin_up_reports_not_triggered: true
# probe_with_touch_mode: false
stow_on_each_sample: true
speed: 2.5
lift_speed: 2.5

[bed_mesh]
speed: 120
horizontal_move_z: 5.5
# (xmin, ymin)+-----------+
#             |           | 
#             |           | 
#             +-----------+(xmax, ymax)
mesh_min: 0, 35
mesh_max: 110, 174
probe_count: 4,6
algorithm: bicubic

# zero_reference_position: 42,42

[manual_stepper axis_k]
# (PCB: Z Stepper) !note dual Z
step_pin: PB3
dir_pin: !PB2
enable_pin: !PA5
endstop_pin: ^PA2
microsteps: 16
rotation_distance: 40
gear_ratio: 18:1

position_endstop: 0
position_max: 20
position_min: 0
homing_speed: 10
velocity: 10


[include limn.cfg]
[include leds.cfg]
[include buzzer.cfg]
[include shell_command.cfg]


[save_variables]
filename: ~/limn_variables.cfg

[force_move]
enable_force_move: true

[gcode_arcs]
resolution: 0.2

[respond]

[pause_resume]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  BASE_CANCEL_PRINT

[mcu]
# serial: /dev/ttyUSB0
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A5010P8Z-if00-port0

[mcu host]
# Currently unused
serial: /tmp/klipper_host_mcu

[mcu rpi]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E661385283075A2C-if00

[mpu9250]
i2c_mcu: rpi
i2c_software_scl_pin: rpi:gpio4
i2c_software_sda_pin: rpi:gpio5
axes_map: -y, x, z


[resonance_tester]
accel_chip: mpu9250
probe_points:
    80, 80, 10

[input_shaper]
#shaper_freq_x: 49.8
#shaper_type_x: ei
#shaper_freq_y: 104.8
#shaper_type_y: 3hump_ei

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[gcode_macro _CLIENT_VARIABLE]
# For fluidd. Pause/Cancel
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 120   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 4.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-1.889687, -0.977187, -0.861563, -1.054063
#*# 	-1.948750, -1.301563, -1.148750, -1.188906
#*# 	-2.039219, -1.643594, -1.385625, -1.321406
#*# 	-2.091406, -2.102813, -1.998594, -1.734688
#*# 	-1.902500, -2.293594, -2.237031, -1.902344
#*# 	-1.631563, -1.946875, -1.965625, -1.802500
#*# x_count = 4
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 109.97999999999999
#*# min_y = 30.0
#*# max_y = 174.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 34.2
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 90.2
#*#
#*# [bed_mesh lrt_paper]
#*# version = 1
#*# points =
#*# 	  -1.874062, -1.633437, -1.529219, -1.627500
#*# 	  -2.143750, -2.086406, -1.836094, -1.733594
#*# 	  -2.024219, -2.121875, -2.121875, -2.115156
#*# 	  -1.944219, -2.169219, -2.179531, -2.123594
#*# 	  -1.912344, -2.099688, -1.995156, -1.978594
#*# 	  -1.874688, -1.914844, -1.821094, -1.756094
#*# x_count = 4
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 114.97999999999999
#*# min_y = 110.0
#*# max_y = 174.00000000000003
#*#
#*# [limn]
#*# version = v2.0
#*# touch_params = [0.001995423426212569, 3.5801511063984912e-06, -3.180991122493866, -1.4412995421887547e-05, 0.0013623052403572557, 3.5269810119410323]
#*# ref_samples = [[30.0, 42.0, 9, 29.396452041114856, 42.07723970442088, 5.24968749995435], [30.0, 53.5, 9, 29.554586844645748, 53.6545495105102, 5.225624999947473], [30.0, 65.0, 9, 29.584352220944343, 64.96974153295419, 5.1346874999405205], [50.0, 42.0, 9, 49.61254503141601, 42.08379983472175, 5.324531249930287], [50.0, 53.5, 9, 49.643030018086996, 53.716408978168985, 5.27703124992351], [50.0, 65.0, 9, 49.321572230163326, 65.02335454984774, 5.184062499916678], [70.0, 42.0, 9, 70.08217494183268, 42.19887623907298, 5.328593749906556], [70.0, 53.5, 9, 69.92009325712635, 53.36275841819408, 5.285624999899833], [70.0, 65.0, 9, 69.63124963303451, 64.94204973398092, 5.198437499893033], [90.0, 42.0, 9, 90.07432224905641, 42.03267555409537, 5.407187499886299], [90.0, 53.5, 9, 90.00862235419416, 53.50194471498325, 5.361406249879689], [90.0, 65.0, 9, 89.9104228603355, 64.68670134624307, 5.2660937498729865]]
#*# ref_z_panel = [[30.0, 42.0, 9, 64.34000000000214, 16.999999999996373, 4.275156249998362], [30.0, 53.5, 9, 64.33999999999395, 28.49999999999409, 4.226718749993338], [30.0, 65.0, 9, 64.33999999998849, 39.99999999998908, 4.13578124998827], [50.0, 42.0, 9, 84.33999999999574, 16.99999999998454, 4.338124999983118], [50.0, 53.5, 9, 84.33999999998993, 28.499999999979877, 4.260781249978152], [50.0, 65.0, 9, 84.33999999998174, 39.99999999997759, 4.193437499973114], [70.0, 42.0, 9, 104.33999999997751, 16.99999999998454, 4.457656249968015], [70.0, 53.5, 9, 104.3399999999775, 28.49999999997408, 4.366093749963158], [70.0, 65.0, 9, 104.33999999997746, 39.99999999996362, 4.291249999958215], [90.0, 42.0, 9, 124.33999999995928, 16.999999999984546, 4.562187499953206], [90.0, 53.5, 9, 124.33999999995926, 28.499999999974094, 4.500937499948442], [90.0, 65.0, 9, 124.33999999995923, 39.999999999963634, 4.4262499999436224]]
#*# ref_z_paper = [[30.0, 110.0, 6], [30.0, 126.67, 6], [30.0, 143.33, 6], [30.0, 160.0, 6], [50.0, 110.0, 6], [50.0, 126.67, 6], [50.0, 143.33, 6], [50.0, 160.0, 6], [70.0, 110.0, 6], [70.0, 126.67, 6], [70.0, 143.33, 6], [70.0, 160.0, 6], [90.0, 110.0, 6], [90.0, 126.67, 6], [90.0, 143.33, 6], [90.0, 160.0, 6]]
