[include fluidd.cfg]


# This file contains common pin mappings for Melzi v2.0 boards. To use
# this config, the firmware should be compiled for the AVR
# atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
# (PCB: Extruder Stepper)
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PC2
position_endstop: 0
position_max: 178
homing_speed: 65


[stepper_y]
# (PCB: Y Stepper)
step_pin: PC6
dir_pin: PC7
enable_pin: !PD6
microsteps: 16
rotation_distance: 32
endstop_pin: ^!PC3
position_endstop: 0
position_max: 177
homing_speed: 65


[stepper_z]
# (PCB: X Stepper)
step_pin: PD7
dir_pin: PC5
enable_pin: !PD6
microsteps: 1
rotation_distance: 0.03125
endstop_pin: ^!PC4
position_endstop: 8
position_max: 10
position_min: -2
homing_speed: 3
homing_retract_dist: 2

[bltouch]
sensor_pin: ^PA4
control_pin: PA3
x_offset: -34.34
y_offset: 25
z_offset: 0.8
samples: 1
samples_result: average
sample_retract_dist: 3
samples_tolerance: 1
pin_up_touch_mode_reports_triggered: true
samples_tolerance_retries: 3
# pin_up_touch_mode_reports_triggered: false
# pin_up_reports_not_triggered: true
# probe_with_touch_mode: false
stow_on_each_sample: true
speed: 2.5
lift_speed: 2.5

[bed_mesh]
speed: 120
horizontal_move_z: 4
# (xmin, ymin)+-----------+
#             |           | 
#             |           | 
#             +-----------+(xmax, ymax)
mesh_min: 0, 30
mesh_max: 110, 174
probe_count: 4,6
algorithm: bicubic

# zero_reference_position: 42,42

[manual_stepper axis_k]
# (PCB: Z Stepper) !note dual Z
step_pin: PB3
dir_pin: !PB2
enable_pin: !PA5
endstop_pin: ^PA2
microsteps: 16
rotation_distance: 40
gear_ratio: 18:1

position_endstop: 0
position_max: 20
position_min: 0
homing_speed: 10
velocity: 10


[include limn.cfg]
[include leds.cfg]
[include buzzer.cfg]
[include shell_command.cfg]


[save_variables]
filename: ~/limn_variables.cfg

[force_move]
enable_force_move: true

[gcode_arcs]
resolution: 0.2

[respond]

[pause_resume]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  BASE_CANCEL_PRINT

[mcu]
# serial: /dev/ttyUSB0
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A5010P8Z-if00-port0

[mcu host]
# Currently unused
serial: /tmp/klipper_host_mcu

[mcu rpi]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E661385283075A2C-if00

[mpu9250]
i2c_mcu: rpi
i2c_software_scl_pin: rpi:gpio4
i2c_software_sda_pin: rpi:gpio5
axes_map: -y, x, z


[resonance_tester]
accel_chip: mpu9250
probe_points:
    80, 80, 10

[input_shaper]
#shaper_freq_x: 49.8
#shaper_type_x: ei
#shaper_freq_y: 104.8
#shaper_type_y: 3hump_ei

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[gcode_macro _CLIENT_VARIABLE]
# For fluidd. Pause/Cancel
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 120   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 4.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.521406, 0.135469, 0.174062, 0.021562
#*# 	-0.447969, -0.049844, 0.082812, -0.041406
#*# 	-0.645781, -0.424844, -0.088594, -0.178125
#*# 	-0.572656, -0.466094, -0.199063, -0.532344
#*# 	-0.375000, -0.146875, -0.027656, -0.523438
#*# 	-0.156250, -0.022188, -0.089844, -0.283750
#*# x_count = 4
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 109.97999999999999
#*# min_y = 30.0
#*# max_y = 174.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 34.2
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 90.2
